* {
  padding: 0px;
  margin: 0px;
  font-size: 15px;
  font-family: Arial;
  overflow-x: hidden;
}

.container {
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.container nav {
  width: 100%;
  height: 65px;
  padding: 16px,12px;
  background: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.container nav .la-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.container nav .la-links li {
  list-style: none;
  margin: 15px;
  color: grey;
  font-size: 15px;
  padding: 9px 15px 9px 15px;
  cursor: pointer;
  border-radius: 5px;
}

.container nav .la-links li:hover {
  background-image: -webkit-gradient(linear, left top, right top, from(#31d35c), to(#2bb7da));
  background-image: linear-gradient(90deg, #31d35c, #2bb7da);
  color: #fff;
}

.container nav button {
  background: -webkit-gradient(linear, left top, right top, from(#31d35c), to(#2bb7da));
  background: linear-gradient(90deg, #31d35c, #2bb7da);
  color: #ffffff;
  border: none;
  padding: 15px;
  border-radius: 50px;
  font-size: 13px;
  font-weight: 600;
  width: 150px;
}

.container nav button:hover {
  background-image: -webkit-gradient(linear, left top, right top, from(#2bb7da), to(#31d35c));
  background-image: linear-gradient(90deg, #2bb7da, #31d35c);
  color: #fff;
}

.container .first-part {
  background: whitesmoke;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  z-index: 3;
  padding-bottom: 50px;
  height: 100%;
  margin: auto;
}

.container .first-part > .mocka {
  position: relative;
  top: -200px;
  left: 500px;
  width: 800px;
  height: 800px;
}

.container .first-part .mockb img {
  position: absolute;
  left: 650px;
  top: -100px;
}

.container .first-part > .first-text {
  margin-top: 103px;
  margin-left: -715px;
  padding: 2rem 0;
}

.container .first-part > .first-text > h1 {
  font-size: 50px;
  font-weight: normal;
  width: 50%;
  color: #555555;
  margin-bottom: 20px;
}

.container .first-part > .first-text p {
  line-height: 25px;
  color: gray;
  font-size: 15px;
  margin-bottom: 20px;
  width: 40%;
}

.container .first-part > .first-text button {
  background: -webkit-gradient(linear, left top, right top, from(#31d35c), to(#2bb7da));
  background: linear-gradient(90deg, #31d35c, #2bb7da);
  color: #ffffff;
  border: none;
  padding: 15px;
  border-radius: 50px;
  font-size: 13px;
  font-weight: 600;
  width: 150px;
}

.container .first-part > .first-text button:hover {
  background-image: -webkit-gradient(linear, left top, right top, from(#2bb7da), to(#31d35c));
  background-image: linear-gradient(90deg, #2bb7da, #31d35c);
  color: #fff;
}

.container .second-part {
  margin-top: 80px;
  margin-bottom: 100px;
  background-color: #ffffff;
  padding: 10px,12px;
  z-index: 1;
}

.container .second-part .second-text h2 {
  font-size: 30px;
  font-weight: normal;
  margin-left: 7%;
  margin-bottom: 25px;
  color: #555;
}

.container .second-part .second-text p {
  margin-left: 7%;
  width: 520px;
  color: gray;
  line-height: 25px;
  margin-bottom: 100px;
}

.container .second-part .cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 7%;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.container .second-part .cards > .the-four {
  width: 240px;
  margin-right: 20px;
  line-height: 25px;
}

.container .second-part .cards > .the-four img {
  vertical-align: top;
  margin-bottom: 15px;
}

.container .second-part .cards > .the-four h3 {
  font-size: 23px;
  color: #555;
  margin-bottom: 20px;
}

.container .second-part .cards > .the-four p {
  color: gray;
}

.container .articles {
  width: 100%;
  background: #f5f5f5;
  margin-top: 100px;
  padding-left: 7%;
  padding-bottom: 80px;
}

.container .articles > h1 {
  font-size: 25px;
  color: #555555;
  margin-top: 60px;
  margin-bottom: 40px;
}

.container .articles .articles-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.container .articles .articles-text .articles-four {
  width: 240px;
  border-radius: 5px;
  margin-top: 20px;
  margin-right: 20px;
  background: #ffffff;
}

.container .articles .articles-text .articles-four > img {
  width: 100%;
  height: 200px;
  margin-bottom: 20px;
  border-radius: 5px 5px 0px 0px;
}

.container .articles .articles-text .articles-four .da_text {
  color: gray;
  margin-left: 7%;
  margin-bottom: 7%;
}

.container .articles .articles-text .articles-four h2 {
  color: #555555;
  margin-left: 7%;
  margin-bottom: 7%;
  font-size: 18px;
}

.container .articles .articles-text .articles-four p {
  margin-left: 7%;
  color: gray;
  line-height: 25px;
}

.container footer {
  width: 100%;
  background: #2d314d;
  height: 200px;
}

.container footer .lastpage {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin-top: 50px;
}

.container footer .lastpage li {
  color: #ffffff;
  list-style: none;
  margin: 10px;
}

.container footer .attribution {
  color: #ffffff;
}

.container footer .easy {
  color: #ffffff;
}

.container footer .attribution a {
  color: #ffffff;
}

.container footer .footer_icon {
  margin-bottom: 35px;
}

.container footer .socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.container footer .last_button button {
  background: -webkit-gradient(linear, left top, right top, from(#31d35c), to(#2bb7da));
  background: linear-gradient(90deg, #31d35c, #2bb7da);
  color: #ffffff;
  border: none;
  padding: 15px;
  margin-bottom: 20px;
  border-radius: 50px;
  font-size: 13px;
  font-weight: 600;
  width: 150px;
}

.container footer .last_button button:hover {
  background-image: -webkit-gradient(linear, left top, right top, from(#2bb7da), to(#31d35c));
  background-image: linear-gradient(90deg, #2bb7da, #31d35c);
  color: #fff;
}
/*# sourceMappingURL=style.css.map */