
    *{
        padding: 0px;
        margin: 0px;
        // background: #fff;
        font-size: 15px;
        font-family: Arial;
        overflow-x: hidden;
    }


.container{
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    
    nav{
        width: 100%;
        height: 65px;
        padding: 16px,12px;        
        background: hsl(0, 0%, 100%);
        display: flex;
        align-items: center;
        justify-content: space-around;

        .la-links{
            display: flex;
            
            li{
                list-style: none;
                margin: 15px;
                color:grey;
                font-size: 15px;
                padding: 9px 15px 9px 15px;
                cursor: pointer;
	            border-radius: 5px;
            
            }
        }
        .la-links li:hover{
            background-image: linear-gradient(90deg, hsl(136, 65%, 51%),hsl(192, 70%, 51%));
            color: #fff;
            
        }
        button{
            background: linear-gradient(90deg,hsl(136, 65%, 51%),hsl(192, 70%, 51%));
            color: #ffffff;
            border: none;
            padding: 15px;
            border-radius: 50px;
            font-size: 13px;
            font-weight: 600;
            width: 150px;
        }
        button:hover{
            background-image: linear-gradient(90deg, hsl(192, 70%, 51%),hsl(136, 65%, 51%),);
            color: #fff;
            
        }
        
    }
    .first-part{
        // background: hsl(0, 0%, 98%);
        background:hsl(0, 0%, 96%);
        position: relative;	
        display: flex;
        z-index: 3;
        padding-bottom: 50px;
        // justify-content: space-between;
	// margin-top: -20px;
    height: 100%;
    margin: auto;
    // margin-bottom:20px;
    
    >.mocka{
        position: relative;
        top: -200px;
        left: 500px;
         width: 800px;
         height: 800px;
    }
    .mockb img{
        position: absolute;
        left: 650px;        
        top: -100px;
        // z-index: 2;

    
    }
    >.first-text{
        margin-top: 103px;
        margin-left: -715px;
        // width: 400px;
        padding: 2rem 0;
        >h1{
            font-size: 50px;
            font-weight: normal;
            width: 50%;
            color: #555555;
            margin-bottom: 20px;
        }
        p{
            line-height: 25px;
            color: gray;
            font-size: 15px;
          margin-bottom: 20px;
          width: 40%;
            
        }
        button{
            background: linear-gradient(90deg,hsl(136, 65%, 51%),hsl(192, 70%, 51%));
            color: #ffffff;
            border: none;
            padding: 15px;
            border-radius: 50px;
            font-size: 13px;
            font-weight: 600;
            width: 150px;
        }
        button:hover{
            background-image: linear-gradient(90deg, hsl(192, 70%, 51%),hsl(136, 65%, 51%),);
            color: #fff;
            
        }
    }
}
    
    
  .second-part{
    
      margin-top:80px;
      margin-bottom: 100px;
      background-color: #ffffff;
      padding: 10px,12px;
      z-index: 1;
      .second-text h2{
          font-size: 30px;
          font-weight: normal;
          margin-left: 7%;
          margin-bottom: 25px;
          color:#555;

      }
      .second-text p{
          
          margin-left: 7%;
          width: 520px;
          color: gray;
          line-height: 25px;
          margin-bottom: 100px;
      }
      .cards{
          display: flex;
          margin-left: 7%;
          flex-wrap: wrap;
          
          >.the-four{
              width: 240px;
              margin-right: 20px;
	         line-height: 25px;
	         
            img{
                vertical-align: top;
                margin-bottom: 15px;
            }
            h3{
                font-size: 23px;
                color: #555;
                margin-bottom: 20px;
            }
            p{
                color: gray;

            }
          }
          
      }
  } 
  .articles{
      width: 100%;
      background: #f5f5f5;
	margin-top: 100px;
	padding-left: 7%;
    padding-bottom: 80px;
    >h1{
        font-size: 25px;
        color: #555555;
        margin-top: 60px;
        margin-bottom: 40px;
    }
    .articles-text{
        display: flex;
        flex-wrap: wrap;
        .articles-four{
            width: 240px;
            border-radius: 5px;
            margin-top: 20px;
            margin-right: 20px;
            background: #ffffff;

            >img{
                width: 100%;
                height: 200px;
                margin-bottom: 20px;
                border-radius: 5px 5px 0px 0px;
            }
            .da_text{
                color: gray;
                margin-left: 7%;
                margin-bottom: 7%;
            }
            h2{
                color: #555555;
                margin-left: 7%;
                margin-bottom: 7%;
                font-size: 18px;
            }
            p{
                margin-left: 7%;
                color: gray;
                line-height: 25px;
            }
        }

    }

  } 
//   footer
  footer{
      width: 100%;
      background:hsl(233, 26%, 24%);
      height: 200px;

      .lastpage{
        display: flex;
        justify-content: space-around;
        margin-top: 50px;

        
    }
    .lastpage li{
        color: #ffffff;
        list-style: none;
        margin: 10px;
    }
    
    .attribution{
        color: #ffffff;
    }
    .easy{
        color: #ffffff;
    }
    .attribution a{
        color: #ffffff;
    }
    .footer_icon{
        margin-bottom:35px
    }
    .socials{
        display: flex;
        justify-content: space-between;
        
        
    }
    .last_button button{
        background: linear-gradient(90deg,hsl(136, 65%, 51%),hsl(192, 70%, 51%));
            color: #ffffff;
            border: none;
            padding: 15px;
            margin-bottom: 20px;
            border-radius: 50px;
            font-size: 13px;
            font-weight: 600;
            width: 150px;
    }
    .last_button button:hover{
        background-image: linear-gradient(90deg, hsl(192, 70%, 51%),hsl(136, 65%, 51%),);
            color: #fff;
    }

    
  }
  
  
  


    
}



